<ion-view view-title="ReadFile">
<ion-content class="padding">
<h2 class="center">File to read</h2>


<div class="row header">
  <div class="col">Nom de l'annalyse</div>
  <div class="col">Min</div>
  <div class="col">Heure du min</div>
  <div class="col">Moyenne de la journee</div>
  <div class="col">Max</div>
  <div class="col">Heure du max</div>
</div>
<div class="row" ng-repeat="data in data_table" ng-click="generateGraphs(data.name)">
  <div class="col">{{data.name}}</div>
  <div class="col">{{data.min}}</div>
  <div class="col">{{data.min_hour}}</div>
  <div class="col">{{data.average}}</div>
  <div class="col">{{data.max}}</div>
  <div class="col">{{data.max_hour}}</div>
</div>

<div id="first-graph"></div>
<div id="second-graph"></div>
<div id="windrose" style="display:none">
  <button ng-click="swapDirections('eight')">8 Directions</button>
  <button ng-click="swapDirections('sixteen')">16 Directions</button>
  <button ng-click="swapDirections('thirtyTwo')">32 Directions</button>
  <div id="third-graph"></div>
</div>

<div>{{item.fileAsText}}</div>
</ion-content>
</ion-view>
