<ion-view view-title="List all App Files" cache-view="false">
  <ion-content class="padding">
    <div class="list card" ng-repeat="item in filesList">
      <div class="item item-divider">Name is / {{item.name}}</div>
      <div class="item item-body">
      <div>
          Size: {{item.size}}
          Last Modified: {{item.lastmodified}}
          Other Info: {{item.other}}
        </div>
        <div>
        <!-- ui-sref="file-read({ fileId: item.name })" -->
          <a href="#/tab/file/{{item.name}}"> 
           <button>Read {{ item.name }}</button>

          </a>
          <button ng-click='rmFile(item.name)'>Delete {{ item.name }}</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<!-- <ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in filesList" type="item-text-wrap" href="#/tab/file/{{item.name}}">
        <img ng-src="{{chat.face}}">
        <h2>{{item.name}}</h2>
        <p>{{item.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->
